# switch back to a released version of compliance-trestle once the jinja tags work is merged and released
compliance-trestle @ git+https://github.com/gsa-tts/compliance-trestle.git@77a6d5d0
compliance-trestle-gsa @ git+https://github.com/GSA-TTS/compliance-trestle-gsa.git@1da1bf2
